<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<p> Make sure you are running mongod</p>
		<p> Three models to request, /monsters, /traps, /abilities.</p>
		<p> Monsters have 4 parameters: Name, description, attack, and health. </p>
		<p> Abilities have 4 parameters: Name, description, targets,
		and effect. </p>
		<p> Traps have 4 parameters: Name, description, reward, and penalty. </p>
	</body>
</html>