<p align="center">You Encounter...<div id="encounter"><%= encounter %></div></p>
<table id="options">
	<% for (i = 0; i < options.length; i++) { %>
		<tr><td><input type="button" value=<%= options[i] %> /></td></tr>
	<% } %>
</table>