<div id="content">
<h4>Welcome to Crooks and Cheats</h4>
<p> The game is simple, gather the most money! </p>
<p> You'll encounter a set of different challenges, and earn coins based on performance. </p>
<p> If you do well enough, fabulous prizes await you. (Pats on the back not included.) </p>
</div>